.top-header {
  text-align: center;
  text-decoration: underline;
}
.top-section {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(241, 241, 241);
}
.my-work-header {
  padding-top: 20px;
  padding-left: 100px;
  margin-left: 60px;
}
.my-work {
font-weight: 1500;
}

dt
{
    display: list-item;
    list-style-type: disc;
}
dd
{
    display: list-item;
    list-style-type: circle;
}
img {
  position: relative;
  max-width: 300px;
  max-height: auto;
  padding: 10px;
}
.column {
  padding: 10;
  margin: 10px;
  width: 300px;
  float: left;
}



