.top-section {
  margin: 50px;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(241, 241, 241);
}
.top-header {
  text-align: center;
  text-decoration: underline;
}

img {
  float: left;
  padding: 20px;
  margin: 20px
}
.column {
  padding: 10;
  margin: 10px;
  width: 300px;
  float: left;
}

.top-header {
  text-align: center;
  text-decoration: underline;
}

.mywork-header {
  padding-top: 60px;
  padding-left: 100px;
}

img {
  position: relative;
  max-width: 300px;
  max-height: auto;
}
